[submodule "modules/sessions"]
	path = modules/sessions
	url = ../sessions.git
	branch = main
	update = merge
[submodule "modules/scenes"]
	path = modules/scenes
	url = ../scenes.git
	branch = main
	update = merge
[submodule "modules/gui"]
	path = modules/gui
	url = ../gui.git
	branch = main
	update = merge
[submodule "modules/replication"]
	path = modules/replication
	url = ../replication.git
	branch = main
	update = merge
[submodule "modules/experiment"]
	path = modules/experiment
	url = ../experiment.git
	branch = main
	update = merge
[submodule "modules/audio_manager"]
	path = modules/audio_manager
	url = ../audio_manager.git
	branch = main
	update = merge
[submodule "modules/game_framework"]
	path = modules/game_framework
	url = ../game_framework.git
	branch = main
	update = merge
[submodule "modules/lobbies"]
	path = modules/lobbies
	url = ../lobbies.git
	branch = main
	update = merge
[submodule "modules/preferences"]
	path = modules/preferences
	url = ../preferences.git
	branch = main
	update = merge
[submodule "modules/atlas"]
	path = modules/atlas
	url = ../atlas.git
